<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Home" connectionString="Data Source=MARKUS\SQLEXPRESS;initial catalog = KursDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False"></add>
		<add name="LapTop" connectionString="Data Source=LAPTOP-VDQR3CKO\SQLEXPRESS;initial catalog = KursDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False"/>
		<add name="College" connectionString="Data Source=SP4-IVC-322-01\SQLEXPRESS;initial catalog = KursDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False" ></add>
	</connectionStrings>
</configuration>